
.toolbar {
    position: fixed;
    width: 100%;
    height: 100px;
    color: white;
    transition: .2s ease;
    z-index: 500;
}

.toolbar-background {
    position: fixed;
    width: 100%;
    height: 100px;
    color: white;
    background: #212121;
    transition: .2s ease;
    z-index: 500;
    opacity: 1;
}

.toolbar-nav {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 1rem;
}

.toolbar-logo {
    margin-left: 0;
    padding-left: 0;
}

.toolbar-logo img {
    margin-left: 50px;
    padding-top: 5px;
    height: 70px;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.toolbar-items {
    text-align: center;
    margin: 0 auto;
    padding: 10em 3em;
}

.toolbar-items a {
    color: white;
    text-decoration: none; 
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
}

div.effect a:before, div.effect a:after{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.effect a:before {
    top: 0px;
    transform: translateY(10px);
}

div.effect a:after {
    bottom: 0px;
    transform: translateY(-10px);
}
div.effect a:hover:before, div.effect a:hover:after{
    opacity: 1;
    transform: translateY(2px);
}

a.tool-li {
    border-bottom: 2px solid rgba(255,255,255,0);
    transition: all 0.3s;
}

a.tool-li.active {
    border-bottom: 2px solid white;
    transition: all 0.3s;
    opacity: 1;
}

@media (min-width: 951px){
    .toolbar-drawer{
        display: none;
    }
}

@media (max-width: 950px){
    .toolbar {
        height: 60px;
    }
    .toolbar-background {
        height: 60px;
    }
    .toolbar-logo img{
        height: 45px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .toolbar-items {
        display: none;
    }

    .toolbar-drawer {
        display: flex;
        cursor: pointer;
        
    }
    .toolbar-drawer i{
        font-size: 3rem;
        color: white;
    }
}

@media (max-width: 375px) {
    .toolbar-logo img{
        margin-left: 0px;
        height: 40px;
    }
    .toolbar-drawer i{
        font-size: 2.5rem;
        color: white;
    }
    
}