#contact {
    height: auto;
    width: 100%;
    background: #f0f0f0;
    padding-bottom: 200px;
}

.contact-text {
    margin: 0 auto;
    padding-top: 200px;
    color: black;
    width: 100%;
    opacity: 0;
}
.contact-text.animated {
    opacity: 1;
    transition: 1s ease;
}

.contact-text h1 {
    font-size: 2.5rem;
}

.contact-text p {
    font-size: 1.5rem;
    padding: 25px;
    width: 400px;
    margin: 0 auto;
    font-weight: 300;
}

.contact-underline {
    height: 5px;
    width: 80px;
    background: #981b1f;
    margin: 0 auto;
}

.contact-info {
 display: flex;
 width: 1100px;
 margin: 0 auto;
 padding-top: 100px;
 opacity: 0;
}
.contact-info.animated {
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.2s;
}
.contact-container {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.contact-container.middle {
    padding-left: 100px;
    padding-right: 100px;
}

.contact-icon {
    font-size: 4rem;
}

.contact-desc h1 {
    padding-top: 50px;
    padding-bottom: 25px;
}

.map {
    width: 1100px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0,0,0,0.3);
    opacity: 0;
}
.map.animated {
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.2s;
}
.map-container {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .contact-text h1 {
        font-size: 2.3rem;
    }
    
    .contact-text p {
        font-size: 1.4rem;
    }
    .contact-info {
        display: flex;
        width: 960px;
        margin: 0 auto;
        padding-top: 100px;
       }
    
    .contact-container {
        width: 320px;
    }
    
    .contact-container.middle {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .contact-icon {
        font-size: 4rem;
    }
    
    .contact-desc h1 {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    
    .map {
        width: 960px;
    }
}

@media (max-width: 960px) {
    .contact-info {
     display: grid;
     width: 400px;
     margin: 0 auto;
     padding-top: 100px;
    }
    
    .contact-container {
        display: block;
        margin: 0 auto;
        width: 300px;
        padding-bottom: 100px;
    }
    
    .contact-container.middle {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .contact-desc h1 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .map {
        width: 95%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(0,0,0,0.3);
    }
}

@media (max-width: 650px) {
    .contact-text h1 {
        font-size: 2rem;
    }
    
    .contact-text p {
        font-size: 1rem;
        padding: 25px 0;
        
    }
    .contact-container {
        width: 300px;
    }
    
    .contact-desc h1 {
        font-size: 1.2rem;
    }
    
    .contact-desc p {
        font-size: 0.8rem;
    }

    .map {
        width: 95%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(0,0,0,0.3);
    }
}

@media (max-width: 375px ) {
    .contact-info {
        width: 315px;
       }
       
    .contact-text p {
        width: 315px;
        font-size: 0.9rem;
    }
    .contact-text h1 {
        font-size: 1.8rem;
    }
    
    .contact-desc h1 {
        font-size: 1.1rem;
    }
    
    .contact-desc p {
        font-size: 0.7rem;
    }
}