footer {
    height: 250px;
    text-align: center;
    background: #212121;
}

.footer-icon {
    margin: 0 auto;
    cursor: pointer;
}

.footer-icon i {
    color: white;
    margin: 0 auto;
    padding-top: 2.5px;
    font-size: 2rem;
}

.footer-text {
    padding-top: 50px;
}

.footer-text p {
    padding-top: 25px;
    color: white;
}